---
---

@import "{{site.theme}}";

@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

body {
  font-family: "Questrial", sans-serif;
  text-align: justify;
  color: #2e2e2e;
}

h1,
h2,
h3 {
  font-family: "Questrial", sans-serif;
  text-align: center;
  color: #ec7063;
}

.page-header {
  background: #2e2e2e;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #224466;
}
